body {
  margin: 0;
  height: 100vh;
}
main {
  border: 5px solid black;
  display: flex;
  width: 70rem;
  height: 50rem;
  margin: auto;
}
.combinationPlace {
  width: 80%;
  border: 5px solid green !important;
}
.draggable {
  z-index: 100;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  text-align: center;
  line-height: 100px;
  user-select: none;
  cursor: grabbing;
}
.elements {
    z-index: 100;

  /* overflow-y: scroll; */
  width: 20%;
  border: 5px solid tomato;
  display: grid;
  grid-template-columns: auto;
}
