body {
}
main {
  width: 70%;
  height: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
  gap: 1rem;
}
.draggable {
  /* padding: 2rem;
  margin: 5px;
  cursor: move;
  z-index: 100;
  position: absolute;
  border-radius: 100%; */
}
.droppable {
  width: 50rem;
  height: 90vh;
  border: 2px dashed #aaa;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  position: relative;
  
}
img {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  position: relative;
}
.elements {
  border: 2px dashed #aaa;
  width: 15%;
  overflow-y: auto;
  height: 90vh;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(20, 1fr);
}


