body {
}
main {
  width: 70%;
  height: 90vh;
  margin: auto;
  justify-content: center;
  display: flex;
  gap: 1rem;
}
.draggable {
  padding: 1rem;
  margin: 5px;
  cursor: move;
  width: 5rem;
  z-index: 100;
  position: absolute;
  border: 2px solid red;
  border-radius: 100%;
}
.droppable {
  width: 50rem;
  height: 90vh;
  border: 2px dashed #aaa;
  padding: 10px;
  text-align: center;
  margin: auto;
  position: relative;
}
img {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}
.elements {
  border: 2px dashed #aaa;
  width: 30%;
  overflow-y: auto;
  height: 90vh;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanho igual */
  grid-template-rows: repeat(20, 1fr); /* 20 linhas de tamanho igual */
}

.teste {
  border: 2px solid red;
  border-radius: 100%;
}
